.navbar {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: fit-content;
}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a{
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5px;

    transition:all .35s ease;
    position: relative;
}

.nav-links a.active {
    color: #7dd3fc;
}

.nav-links a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -18px;
    transform: translateY(-50%) scale(0);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #7dd3fc;
    box-shadow:
        0 0 12px rgba(125, 211, 252, .8);

    transition: .3s ease;
}

.nav-links a:hover::after {
    transform:
        translateY(-50%) scale(1);
}

.nav-links a::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    border-radius: 50px;
    background: #7dd3fc;
    transition: .35s ease;
}

.nav-links a:hover{
    color: #fff;
    transform: translateY(-2px);
    text-shadow: 0 0 15px rgba(125, 211, 252, .4);
}

.nav-links a:hover::before{
    width: 70%;
}

@media (max-width: 768px) {

    .navbar {
        top: 15px;
        left: 50%;
        transform: translateX(-50%);

        width: 92%;

        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        border: 1px solid rgba(255, 255, 255, 0.08);
        border-radius: 18px;

        padding: 14px 20px;

        box-shadow:
            0 10px 40px rgba(0, 0, 0, .25),
            inset 0 1px 0 rgba(255, 255, 255, .05);
    }

    .nav-links {
        position: static;
        transform: none;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        gap: 10px;
    }

    .nav-links a {
        font-size: 0.85rem;
    }

    .nav-links a::after,
    .nav-links a::before {
        display: none;
    }
}