:root {
  --bg: #020617;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;

  /* Keeps all sections above particles */
  position: relative;
  z-index: 1;
}

body {
  background:
    radial-gradient(circle at top,
      #0f172a,
      #020617);

  color: white;
  font-family: "Sora", sans-serif;

  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

.global-particles {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  pointer-events: none;

  z-index: 0;
}

.global-particles span {
  position: absolute;
  bottom: -20px;
  border-radius: 50%;
  background: #7dd3fc;
  opacity: .35;
  box-shadow:
    0 0 8px rgba(125, 211, 252, .7);

  animation:
    particleFloat linear infinite,
    twinkle 3s ease-in-out infinite;
}

@keyframes particleFloat {

  0% {
    transform:
      translateY(0) translateX(0);
  }

  50% {
    transform:
      translateY(-45vh) translateX(25px);
  }

  100% {
    transform:
      translateY(-100vh) translateX(-15px);
  }
}

@keyframes twinkle {

  0%,
  100% {
    opacity: .2;
  }

  50% {
    opacity: .8;
  }
}

/* =========================
   TABLET
   ========================= */
@media (max-width: 1024px) {

  .section-title {
    font-size: 2.5rem !important;
  }

  section {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

/* =========================
   MOBILE
   ========================= */
@media (max-width: 768px) {

  .section-title {
    font-size: 2rem !important;
    margin-bottom: 50px !important;
  }
}

/* =========================
   SMALL PHONES
   ========================= */
@media (max-width: 480px) {

  .section-title {
    font-size: 1.7rem !important;
  }
}