:root {
  --bg: #020617;
}

body {
  background:
    radial-gradient(circle at top,
      #0f172a,
      #020617);

  color: white;
  font-family: 'Space Grotesk', sans-serif;

  overflow-x: hidden;
}